<p>
  cars-list works!
</p>
<app-car-item  *ngFor="let car of cars" [car]="car">
 <!-- <h3>Модель {{car | json}}</h3>  -->

    <!-- <div class="car-box">
      <img src="{{car.src1}}" alt="{{c.model}}">
      <img src="{{c.src2}}" alt="{{c.model}}">
      <h3>{{c.title}}</h3>
      <p>Модель: {{c.model}}</p>
      <p>Год выпуска: {{c.year}}</p>
      <p>Страна изготовитель: {{c.country}}</p>
      <p>Коробка передач: {{c.transmission}}</p>
      <p>Топливо: {{c.fuel}}</p>
      <p>Описание: {{c.description}}</p>
    </div> -->
 
</app-car-item>