<h2>
    Наши Автосалоны
</h2>
<p>
    В сети автосалонов «РИК АВТО» Вы отыщете большой диапазон услуг и разнообразную палитру продукции. 
    Вы имеете возможность приобрести автомобиль у всех наших салонах, выбрав его из обширного ассортимента
     разнообразных моделей. Основной принцип компании – прислушаться и найти подход к каждому клиенту. Нам очень важна
     наша репутация, и растет она от многочислительных положительных отзывов наших клиентов. Из всех многочисленных автосалонов 
     Киева, Львова и Украины вообщем «РИК АВТО» по праву занимает лидирующие позиции. У нас Вы найдете более качественное 
     обслуживание. Наши специалисты расскажут и ответят на все интересующие вас вопросы о покупке и о ценах на них. 
     Квалифицированные менеджера проконсультируют 
    вас обо всех плюсах и минусах той или иной модели и дадут ответ на все ваши вопросы.
</p>
<p>
    Все интересующие Вас данные по приобретению автомобиля, о стоимости, технических характеристиках, Вы всегда можете узнать у 
    менеджеров нашего автосалона. Наши специалисты расскажут Вам обо всех плюсах и минусах той или 
    иной модели и дадут ответ на все вопросы, которые у Вас возникнут.
</p>
