<div class="col-sm-9">
 <div class="box__home">
   <h1>Автосалоны «РИК АВТО»</h1>
   <p>продажа легковых автомобилей, обмен, автовыкуп, в кредит. Киев, Львов и другие города
    О компании «РИК АВТО»</p> 
    <p>
      Компания «РИК АВТО» - группа автосалонов, которые являются одними среди крупнейших автомобильных дилеров Украины. 
      Найти наши автосалоны можно в г. Львове и в Киеве. Два автосалоны во Львове размещены на ул. Щирецкая, 36, которые 
      специализируется на продаже новых и подержанных машин. В городе Киеве есть так же два автосалоны, которые находятся 
      на ул. Крайняя, 1. и на просп. Воздухофлотском, 64. В наших автосалонах можно найти автомобили разнообразных моделей и 
      марок. Мы предоставляем свои услуги около девяти лет
       и готовы предоставить самый полный ассортимент товаров и услуг.
    </p>

    <p>Все наши автосалоны имеют сервисные центры, благодаря этому Вы можете не только приобрести автомобиль, но и 
      воспользоваться в дальнейшем услугами по обслуживанию и ремонту. На данном сайте Вы имеете возможность ознакомится со 
      всей информацией, которая вас интересует об автомобилях и ценах на них. По отзывам клиентов, 
      салоны компании «РИК АВТО» - являются одними из лучших в городе Киеве и Львове.
    </p>
    
    <h2>
        Услуги нашей компании
    </h2>
    <p>
        В автосалонах «РИК АВТО» представлены как новые авто и подержанные автомобили различных видов и марок. Наши менеджера 
        предоставлят полную информацию, расскажут о преимуществах и недостатках определенных машин, помогут сделать правильный выбор. 
        Ведь главное, что бы Вы приобрели машину, о которой мечтали.
    </p>
    <p>
        Мы предлагаем покупателям не только новые машины, но и подержанные иномарки (ми предлагаем только законно привезенные и 
        растаможенные автомобили с пробегом). У нас Вы найдете самые новые автомобили, а цены на них Вас приятно удивят. 
        Продажа автомобилей премиум класса - это основной вид нашей деятельности.
    </p>
    <h2>
        Продажа и обслуживание
    </h2>
    <p>
        Существуют три основных метода купить автомобиль: на автобазарах, у официального автодилера или у неофициального. 
        Первый способ является не всегда верным, так как есть большая вероятность приобрести не надежное транспортное средство. 
        Оно может не отвечать сказанным характеристикам, а в процессе использования может оказаться бракованное или после не 
        заявленного продавцем ДТП. Может быть стоимость авто, найденных по объявлению или на каком-либо сайте, будет ниже, но 
        такие машины могут принести немало хлопот. Собственно поэтому на приобретениях транспортного средства лучше не экономить, 
        а обратиться за советом к компетентным в данном вопросе специалистам. Автосалоны «РИК АВТО» предлагают Вам сделать покупку 
        нового автомобиля или с пробегом - доставленные через официальных и неофициальных дилеров Америки, Европы, Азии. Это самый 
        безопасный метод покупки транспортного средства. Перед приобретением машины с пробегом Вы можете всегда посетить сайт нашего 
        неофициального дилера, где Вы отыщете верные характеристики, актуальные сведения и параметры.
    </p>
    <p>
        Не смотря на то что салоны в Киеве открыты совсем недавно, нам удалось за это короткое время привлечь внимание потребителя. 
        Киев отличный рынок для автомобилей премиум и бизнес класов, но мы не останавливаемся только на этом сегменте. Киев стимулирует 
        к участвию во множестве выставках, открывать новые рынки, изучать предложения всех топовых производителей.Именно в Киеве 
        yдалось заключится поддержкой крупнейших игроков авторынка, 
        надеемся что это существенно повысит качество наших услуг.
    </p>
    <p>
        На нашем сайте Вы имеете возможность узнать все характеристики и цены интересующего Вас транспортного средства; ознакомится 
        с подробными фотографиями и комплектующие к ним; посмотреть видео и тест-драйвы машин заинтересовавших вас. На нашем сайте Вы 
        быстро сделаете правильный выбор, и купите новое авто. А так же найдете самые свежие новости о машинах, отзывы владельцев и 
        многое другое. По желанию покупателя наши квалифицированные эксперты на высоком профессиональном уровне представят обширную 
        палитру услуг: продажа новых автомашин, осуществление предпродажной подготовки, оформление нужных регистрационных документов, 
        плановое техническое, гарантийное и послегарантийное обслуживание. Также Вы можете обменять свой старый транспорт на новый 
        (с доплатой) воспользовавшись услугой TRADE-IN. При этом заказчик не ожидает, пока продастся его подержанный автомобиль, 
        а немедленно обретает новый, доплатив лишь разницу в цене.
    </p>
 </div>
</div>
<div class="col-sm-3">
  <app-my-weather></app-my-weather>
</div>
