<p>
  car-item works!
</p>
<!-- <h3>Модель {{cars | json}}</h3> -->
  <div class="col-md-3" >
    <div class="car-box">
      <img src="{{car.src1}}" alt="{{car.model}}">
      <!-- <img src="{{car.src2}}" alt="{{car.model}}"> -->
      <h3>{{car.title}}</h3>
      <p>Модель: {{car.model}}</p>
      <p>Год выпуска: {{car.year}}</p>
      <p>Страна изготовитель: {{car.country}}</p>
      <p>Коробка передач: {{car.transmission}}</p>
      <p>Топливо: {{car.fuel}}</p>
      <p>Описание: {{car.description}}</p>
    </div>
  </div>
  
